.template {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}

@media (min-width: 650px) and (max-width: 970px) {
    .template {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .template {
        grid-template-columns: 1fr;
    }
}